.category-cover {
    background: #333;
    height: 150px;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: 2px solid #000;
    color: #f8f8f8;
}

.subscribers-number {
    color: #f8f8f8;
}

.category-cover a {
    color: #f8f8f8;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .8);
    word-break: break-word;
}

.category-cover a:hover {
    color: #ebebeb;
    transition: 0.2s;
}

.category-cover a h1 i {
    font-size: 34px;
}

.category-cover .pull-right {
    margin-left: 10px;
}

.category-cover .container {
    position: relative;
    height: 150px;
    padding-top: 48px;
    padding-left: 170px;
}

.category-profile {
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 150px;
    height: 150px;
}

.category-profile img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    border: 2px solid #e7e7e7;
}

.card-title a,
.card-title a:focus,
.card-title a:hover {
    color: #555;
}

.category-header-left {
    flex-basis: 150px;
}

.category-header-middle {
    flex: 3;
    padding-left: 1em;
}

.category-header-middle h1,
.category-header-middle h2 {
    display: inline;
    font-size: 1.7em;
}

.category-header-middle h1 {
    font-size: 2em;
}

.category-header-right {
    text-align: center;
    flex-basis: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.karma-text {
    font-size: 14px;
    opacity: .65;
}

.karma-number {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .015em;
    line-height: 22px;
}
@media screen and (max-width: 768px) {
    .cols-flex {
        flex-direction: column;
    }

    .category-header-right {
        flex-basis: 0;
        margin-top: 3em;
    	flex-direction: row;
    }
}

.channel-admin-btn {
    display: flex;
    align-items: center;
}

.channel-admin-btn > a,
.channel-admin-btn > button {
    margin-left: 0.7em;
}

.v-content-box.rules ol li {
    line-height: 2;
    font-weight: 600;
}

.oops-icon:before {
    font-size: 6em;
    margin-top: 42px;
}

.no-content-wrapper {
    //border: 2px dashed;
    padding: 1em;
    color: #555;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2em;
}

.category-suggestion-wrapper {
    border: 2px dashed #dcdcdc;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 4px;
    margin: 1em;
}

@media screen and (max-width: 768px) {
	.category-suggestion-wrapper {
	    padding: 1em;
	    background: #f9f9f9;
	    border-radius: 4px;
	    margin: 1em;
	}
}

.category-suggestion-wrapper a {
    color: #333;
}

.category-suggestion-wrapper-title {
    margin: 0;
    font-weight: 400;
}

.category-suggestion-wrapper h2 {
    margin: 0;
    font-weight: 400;
}

.category-suggestion {
    display: flex;
    align-items: center;
    padding: 0.9em 1em;
}

.category-suggestion p {
    padding: 0;
    margin: 0;
    color: #333;
}

.category-suggestion .avatar {
    flex-basis: 65px;
    margin-right: 2em;
}

.category-suggestion .avatar img {
    border-radius: 2px;
}
