.comment-form {
    padding: 0.675rem 1.05rem;
}

.comment-btn {
    position: absolute;
    bottom: -45px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.comment {
    padding: 25px 20px 10px;
}

.comment .card-block {
    padding: 0;
    margin-top: 10px;
}

.comment .card-subtitle {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 16px;
    margin-bottom: 13px;
}

.ui.comments {
    max-width: 100% !important;
}

.ui.comments .comment .reply.form {
    padding: 0 0 0.5em;
    margin-top: 0;
}

.ui.comments > div {
    border-top: 1px solid #e9e9e9 !important;
    padding: 1em !important;
}

.v-comment-not-full {
    border: 1px solid #e9e9e9 !important;
    border-bottom: 2px solid #e9e9e9 !important;
    border-radius: 2px;
    padding: 1em !important;
    margin-bottom: .5em;
}

.ui.comments .reply.form:first-child {
    padding: 1em 0.5em 0.4em;
}

.ui.threaded.comments .comment .comments {
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.square {
    border-radius: 4px !important;
}

.circle {
    border-radius: 50% !important;
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
    border-radius: 2px;
}

.ui.comments .reply.form textarea {
    height: 49px;
    border: 2px solid #a0a4a6;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    resize: none;
}

.ui.comments .ui.input textarea {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: initial;
    flex: initial;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.2142em;
    font-family: inherit;
    box-shadow: none;
    resize: none;
}

.ui.action.input:not([class*="left action"]) > .button:hover {
    border: 2px solid #5587d7;
    background: $primary-color;
    color: #fff;
}

.loading-comments {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #bdc4c7;
}

.box-typical-inner.ui.threaded.comments {
    margin-top: 0;
}

.ui.comments .comment .actions button {
    background: none;
    border: none;
}

.ui.comments .comment form {
    display: inline-block;
}

.send-button {
    flex-basis: 50px;
    background: none;
    border: 2px solid #a0a4a6;
    background-color: white;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #d8e2e7;
    cursor: pointer;
    margin: 0;
    border-left: 0;
}

.comment-emoji-button {
    border-radius: 0;
    border-right: 0;
    position: relative;
    flex-basis: 0;
    margin-right: -.5em;
    display: flex;
    align-items: center;
}

.comments-sort .v-icon {
    cursor: pointer;
}

.comment .v-icon {
    font-size: 16px;
}
// only desktop
@media (max-width: 768px) {
    .ui.comments .comment .comments .comment {
        margin: 0.5em 0 0;
    }
}

.full-comment-form {
    padding: 0 0.5em !important;
    margin-bottom: -.5em;
}

.reply .v-send,
.reply .v-smile {
    font-size: 19px;
}

.reply .search {
    font-size: 1.3em;
}

.reply .flex-search input {
    border-width: 2px !important;
}

.comment-form-guide {
    margin-bottom: 1em;
    color: #717577;
    font-size: 74%;
    cursor: pointer;
    font-weight: 600;
}

.comment-form-guide-wrapper {
    padding: 0em 0.5em 0.4em;
}

.content .comment-form-guide {
    padding-left: 0.8em;
}

.comment-form-guide:focus,
.comment-form-guide:hover {
    color: #717577;
}

.comment-form-guide:hover {
    text-decoration: underline;
}
