// only desktop
@media (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}
// only mobile
@media (max-width: 768px) {
    .desktop-only {
        display: none !important;
    }

    .tabs.is-fullwidth li {
        font-size: 77%;
    }

    .v-contact-list li .category-search-item-avatar,
    .v-contact-list li a .category-search-item-avatar {
        flex-basis: 41px;
        margin-right: 1em;
    }

    .v-contact-list li,
    .v-contact-list li a {
        padding-left: 0;
        padding-right: 0;
    }

    #search .col-7 {
        padding: 0;
        margin: auto 0;
    }

    .tooltip {
        display: none !important;
    }

    .category-suggestion .avatar {
        flex-basis: 40px;
        margin-right: 1em;
    }
}
