.photo-viewer-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f8f8f8;
    z-index: 100;
    height: 100%;
}

.photo-viewer-header {
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}

.photo-viewer-header .info {
    border-right: 1px solid #e2e2e2;
    padding-right: 1em;
    margin-right: 1em;
}

.photo-viewer-header .info h3 {
    font-weight: 600;
    margin: 0;
}

.photo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90%;
    overflow: auto;
    padding: 1em;
    padding-bottom: 4em;
}

.photo-wrapper img {
    cursor: zoom-out;
    max-height: 100%;
    width: auto;
}

.photo-album-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97%;
    margin: 1em;
    overflow: auto;
    text-align: center;
}

.photo-album-wrapper img {
    cursor: zoom-out;
    max-width: 90%;
    max-height: 100%;
    margin: 1em;
}

.gallery-button {
    height: 18em;
    display: flex;
    align-items: center;
    padding: 0.3em;
    opacity: 0.3;
}

.gallery-button:hover {
    background: #dedede;
    transition: 0.2ms;
    opacity: 1;
}

.counter-wrapper {
    display: flex;
    align-items: center;
    padding-left: 1em;
    margin-left: 1em;
    border-left: 1px solid #e2e2e2;
}
// mobile
@media (max-width: 768px) {
    .photo-album-wrapper {
        margin: 0;
        height: auto;
        display: block;
    }

    .photo-album-wrapper img {
        margin: 2em 0;
        max-width: 100%;
    }

    .photo-viewer-wrapper .flex-space {
        margin: 0 1em;
    }
}

.photo-wrapper video {
    max-width: 100%;
}
