#public-beta-landing {
    background: #333;
    min-height: 720px;
    position: relative;
    height: 100%;
    background: url("/imgs/landing-background.jpg") center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Dosis';
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
}

#public-beta-landing h1 {
    font-weight: 600;
    font-size: 3em;
    max-width: 700px;
    margin: auto;
}

#public-beta-landing h2 {
    font-weight: 600;
    max-width: 700px;
    margin: auto;
    margin-top: 1em;
}

#public-beta-landing header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5em;
    padding: 1em;
    align-items: center;
}

#public-beta-landing .landing-logo {
    width: 3em;
    height: auto;
    margin-left: 1em;
}

#public-beta-landing .public-beta-logo {
    color: #fff;
    font-weight: 600;
}

#public-beta-landing .public-beta-logo:hover {
	text-decoration: none;
}

#public-beta-landing .login {
    margin-right: 1em;
}

#public-beta-landing .or {
    font-weight: 600;
}

.login-button {
    font-weight: 600;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 95%;
    padding: 0;
    color: #fff;
}

#public-beta-landing .sign-up-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8% !important;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.sign-up-container .button-fb,
.sign-up-container .button-google,
.sign-up-container button {
    width: 22em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 4em;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up-button {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    font-weight: 600;
    margin-top: 1em;
    color: #fff;
}

#public-beta-landing button {
    color: #fff;
}

#public-beta-landing a:hover {
	text-decoration: underline;
}

.button-fb {
    background-color: #5587d7;
    border-bottom: 2px solid #476087;
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #5f7cb9, #2b4170);
    background: -ms-linear-gradient(top, #5f7cb9, #2b4170);
    background: -webkit-linear-gradient(top, #5f7cb9, #2b4170);
    border: 1px solid #566992;
    text-shadow: 0 -1px -1px #1f2f52;
    color: #fff;
}

.button-google {
    background-color: #db6e6e;
    color: #fff;
    border-color: transparent;
    border-bottom: 2px solid #844343;
    background-color: #c33219;
    background: -moz-linear-gradient(top, #ef765c, #a53030);
    background: -ms-linear-gradient(top, #ef765c, #a53030);
    background: -webkit-linear-gradient(top, #ef765c, #a53030);
    border: 1px solid #a55757;
    text-shadow: 0 -1px -1px #972412;
}

.landing-copy-right a {
	color: #f8f8f8;
    font-size: 77%;
    font-family: 'Dosis';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.landing-copy-right a:hover {
	text-decoration: underline;
}

.public-footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.public-footer {
    width: 100%;
    min-height: 44px;
    background: #333;
    opacity: .7;
    display: flex;
    justify-content: space-between;
    padding: .7em 1em;
    align-items: center;
    border-top: 2px solid #191919;
}

.landing-copy-right {
    text-align: right;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.public-landing-footer {
	//
}

.public-landing-footer a {
	color: #fff;
    margin-right: 1em;
    font-family: 'Dosis';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.public-landing-footer a:hover {
	text-decoration: underline;
}

@media (max-width: 768px) {
	#public-beta-landing h1 {
		font-size: 2em;
	}

	.public-footer {
		display: block;
		text-align: center;
	}
}