.channel-label {
    color: #777;
}

.channel-label i {
    font-size: 0.8em;
}

.detail {
    background: #f2f3f5;
    color: #808080;
    display: inline-block;
    padding: 0.4em;
    border-radius: 2px;
    font-size: 80%;
    font-weight: 600;
    margin: 0 0.4em;
}

.profile-post .profile-post-header .user-card-row {
    font-size: 1rem;
    line-height: 20px;
}

.user-card-row .tbl-cell.tbl-cell-photo img {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.color-blue-grey-lighter {
    color: #919fa9 !important;
    font-size: 80%;
}

.color-blue-grey-lighter a {
    color: #919fa9 !important;
}

.color-blue-grey-lighter a:hover {
    text-decoration: underline;
}

.profile-post .profile-post-header .shared {
    position: absolute;
    right: 1em;
    top: 36%;
    margin-top: -10px;
    text-decoration: none;
    color: #919fa9;
    border: none;
    cursor: default;
}

.profile-post .ui.top.right.pointing.dropdown > .menu {
    right: -0.6em;
    padding: 0.5em 4px;
}

.dropdown form,
.dropdown form button {
    display: block !important;
    border-radius: 4px;
}

.profile-post .dropdown .menu button {
    padding: 0.38571429rem 1.14285714rem !important;
}
// .dropup, .dropdown {
//     position: relative;
// }

.box-typical .box-typical-footer:last-child {
    border-radius: 0 0 4px 4px;
}

.box-typical-footer i {
    font-size: 19px;
}

.box-typical .box-typical-footer {
    border-top: dashed 2px #e3e3e3;
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 0;
}

.profile-post .profile-post-header {
    border-bottom: solid 1px #d8e2e7;
    padding: 12px 40px 12px 15px;
    position: relative;
}

.vote-btn {
    background: none;
    border: 0;
    opacity: 0.8;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    cursor: pointer;
}

.upvote,
.upvote:focus,
.upvote:hover {
    color: $primary-color;
}

.downvote,
.downvote:focus,
.downvote:hover {
    color: $red-color;
}

.channel-hashtags {
    padding: 0;
}

.channel-hashtags li {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
}

.channel-hashtags li a {
    color: #999;
    border: 2px solid #999;
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
}

.channel-hashtags li a:hover {
    color: #777;
    border-color: #777;
    transition: 0.2 s;
}

#submit .active {
    color: #6693db;
}

.link-description {
    color: #777;
    text-decoration: none;
    margin-left: 10px;
}

.card-link-box {
    margin: 0 10px;
}

.card-link-box img {
    border-bottom: 1px solid #e5e5e5;
}

.gif .profile-post-content,
.img .profile-post-content,
.link .profile-post-content {
    padding: 0;
    text-align: center;
    background: #f1f1f1;
}

.link-submission-info {
    padding: 15px;
}

.link-submission-info a {
    color: #777;
}

.submission-more-btn {
    background: none;
    border: none;
    color: #777;
}
// classic

.submission-classic {
    display: flex;
}

.voting-wrapper {
    display: flex !important;
    align-items: center !important;
}

.quick-comment {
    // flex-basis: 30em;
    flex-basis: 70%;
}

.quick-comment input {
    background: #f8f8f8;
    border: 1px solid #e3e3e3;
    padding: 0.5em 2.3em 0.5em 0.8em;
    width: 100%;
    border-radius: 2px;
    font-size: 0.9em;
}

.quick-comment button {
    background: none;
    border: none;
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;
    color: $green-color;
}

.quick-comment button i {
    font-size: 16px;
}

.submission-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .el-dropdown i {
        font-size: 20px;
    }
}

.small-thumbnail {
    border: 1px solid #e3e3e3;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.2rem;
    height: 78px;
    width: 130px;
}

.submission-img-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.play-gif {
    position: absolute;
    top: 50%;
    margin-top: -3em;
    left: 50%;
    margin-left: -2.7em;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.68);
    padding: 0.2em;
    display: flex;
    width: 5.2em;
    height: 5.2em;
    justify-content: center;
    align-items: center;
}

.play-gif i {
    font-size: 3em;
    color: #fff;
    border: 3px dashed #fff;
    border-radius: 50%;
}

.big-thumbnail {
    max-height: 400px;
}

.submission-title {
    font-size: 20px;
    font-weight: 600;
}

.side-vote-icon {
    cursor: pointer;
    font-size: 17px;
}

.vote-number {
    font-size: 90%;
    font-weight: bold;
}

.link-list-info a {
    color: #343434;
    display: inline-block;

    // &:hover {
    //     text-decoration: underline;
    // }
}

.index-submission-footer {
    margin-top: 1em;
    color: #999;
    font-size: 13px;
}

.index-submission-footer i {
    font-size: 17px;
}

.index-submission-footer {
    a {
        color: #999 !important;
        font-weight: bold;
        display: inline-flex;
        align-items: center;

        .count {
            font-size: 80%;
            margin-left: .3em;
            margin-right: .9em;
        }
    }

    .el-dropdown i {
        color: #999999;
    }
}

.submisison-small-thumbnail {
    margin-right: 1em;
}

.comments-icon {
    font-size: 15px;
    display: inline-flex;
}

.submission-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 9px;
}

.submission-header {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #d8e2e7;
    padding: 0.7em 0.5em 0.7em 0.5em;
    justify-content: space-between;
}

.submission-submitter-wrapper {
    display: flex;
    align-items: center;
}

.submission-submitter {
    display: flex;
    flex-direction: column;
}

.submission-header .date {
    font-size: 13px;
    color: #777;
}

.submission-header .username {
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.submission-header .username:hover {
    text-decoration: underline;
}

.submission-header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .submission-item.submission-wrapper {
        border-bottom: 1px solid #d6d6d6;
    }

    .mobile-submission-item-action {
        margin-top: 0.3em;
        font-size: 11px;
    }

    .index-submission-footer {
        border-top: 2px dashed #d6d6d6;
        padding-top: 0.5em;
    }
}

.submission-item {
    display: flex;

    .title {
        display: inline-block;
        font-weight: bold;
        margin: 0;
    }
}

.side-voting {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

.submission-wrapper:hover {
    .side-voting {
        opacity: 1;
    }
}
