.profile-cover {
    min-height: 100px;
    width: 100%;
    border-bottom: 2px solid;
    border-color: rgba(117, 148, 127, 0.24);
    color: #f8f8f8;
    position: relative;
}

.profile-cover a {
    color: #f8f8f8;
    text-decoration: none;
    word-break: break-all;
}

.profile-cover a:hover {
    color: #ebebeb;
    transition: 0.2s;
}

.profile-cover a h1 i {
    font-size: 0.88em;
}

.profile-cover .pull-right {
    margin-left: 10px;
}

// .profile-cover .container{
// position: relative;
// height: 218px;
// padding-top: 140px;
// padding-left: 170px;
// }
@media (max-width: 768px) {
    .profile-cover {
        text-align: center;
    }
}

.profile-cover .row {
    padding-top: 3em;
}

.profile-cover h1 {
    margin-top: 20px;
    word-break: break-all;
}

.profile-cover .col-md-4 {
    padding-top: 2em;
    text-align: center;
}

@media (max-width: 768px) {
    .profile-cover .col-md-4 {
        padding-top: 0em;
    }
}

.profile-avatar {
    text-align: center;
}

.profile-avatar img {
    width: 90px;
    height: 90px;
}

#user-header {
    .profile-avatar img {
        border: 2px solid rgba(231, 231, 231, 0.28);
    }
}

.edit-avatar-preview {
    img {
        width: 180px;
        border: 2px solid #3c3c3c;
    }

    padding: 1em;
    padding-right: 0;
}

.profile-avatar .fa-pulse {
    margin-top: 1em;
}

.profile-second-nav {
    background-color: #fff;
    width: 100%;
    height: 50px;
    box-shadow: inset 0 -2px transparent;
    border-bottom: 1px solid rgba(137, 137, 137, 0.3);
    margin-bottom: 50px;
}

.profile-second-nav ul {
    padding: 0;
    list-style: none;
}

.profile-second-nav ul li {
    display: inline-block;
    padding-top: 10px;
    margin-right: -3px;
}

.profile-second-nav ul li a {
    padding: 14px;
    color: #333;
    text-decoration: none;
}

.profile-second-nav ul li a:hover,
.profile-second-nav .active {
    border-bottom: 3px solid $primary-color;
}

.dark-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to bottom,
        transparent 0,
        rgba(0, 0, 0, 0.03) 8%,
        rgba(0, 0, 0, 0.11) 21%,
        rgba(0, 0, 0, 0.61) 78%,
        rgba(0, 0, 0, 0.7) 95%,
        rgba(0, 0, 0, 0.7) 100%
    );
}
