/node_modules
/public/storage
/public/css
/public/js
/public/hot
/public/*.map
/public/*.js
/public/*.css
/chunk
/public/mix-manifest.json
/.idea
Homestead.json
Homestead.yaml
.env
/storage/*.key
.DS_Store
Envoy.blade.php
/vendor
/.vagrant
/public/mix-manifest.json
public/mix-manifest.json
yarn-error.log
yarn.lock
npm-debug.log
composer.lock
.phpstorm.meta.php
.vscode
_ide_helper_models.php
_ide_helper.php
.env.dusk.testing
dist
package-lock.json
.eslintrc.js
/storage/framework/testing