@import "variables";
// font icons
@import "icons/css/fontello.css";
// The great ElementUI
@import 'node_modules/element-ui/packages/theme-chalk/src/index';
// @import "semantic/input";
@import "semantic/form.min";
// @import "semantic/search";
@import "inc/search";
@import "inc/bookmarks";
@import "semantic/comment";
// @import "semantic/dropdown";
//@import "semantic/message";
@import "bulma/nav";
@import "bulma/table";
@import "bulma/tabs";
//@import "semantic/card";
//@import "semantic/popup";
@import "components/transition";
//@import "components/vui";
// @import "components/tooltip";
@import "components/animate";
// @import "components/dropzone";
// @import "components/vue-multiselect.min";
@import "inc/grid";
// @import "header";
@import "wrapper";
@import "common";
@import "temp";
@import "messages";
@import "inc/category";
@import "inc/user";
@import "inc/submission";
@import "inc/comment";
@import "inc/emoji";
@import "inc/buttons";
@import "components/image-preview";
@import "inc/notifications";
@import "inc/forms";
@import "inc/modal-small";
@import "inc/statistics";
@import "inc/Jcrop";
@import "inc/transitions";
@import "inc/landing";
@import "inc/public-beta";
@import "inc/emojione";
@import "inc/patterns";
@import "inc/mobile";
@import "inc/photo-viewer";
@import "inc/sidebar";
@import "theme";
@import "inc/about";
@import "inc/jquery.atwho";
@import "inc/warning";

// Select
.el-select {
  width: 100%;
}

// form
.el-form--label-top .el-form-item__label {
  padding: 0 0 0px 0;
  font-weight: bold;
}

.el-form-item .el-alert {
  line-height: initial;
  margin-top: .5em;
}

// dropdown 
.el-icon-more-outline {
  cursor: pointer;
}

.el-dropdown {
  i {
    cursor: pointer;
  }
}

.el-dropdown-link {
  cursor: pointer;
}

// tooltip 
.el-tooltip__popper {
  font-weight: bold;
}

// buttons
.el-button {
  border-radius: 3px;

  &, i {
    font-weight: bold;
  }
}

.el-button.v-button--upload {
  position: relative;
  margin: 0;

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }
}

.is-plain {
  border-width: 2px;
  border-color: #bbcfef;
}

.el-button--primary.is-plain {
  border-color: $primary-color;
  background: rgba(255, 255, 255, 0);
}

.el-button--success.is-plain {
  border-color: $green-color;
  background: rgba(255, 255, 255, 0);
}

.el-button--danger.is-plain {
  border-color: $red-color;
  background: rgba(255, 255, 255, 0);
}

// dialog
.el-dialog__title {
  font-size: 25px;
}

// other
.simple-loading {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
