body,
button,
html,
input,
select,
textarea {
    font-family: inherit;
}

body,
html {
    height: 100%;
}

#voten-app {
    height: 100%;
    min-height: 100%;
    overflow: auto;
}

#voten-app,
body {
    background: #fff;
    margin: 0;
    font-weight: 400;
    line-height: 1.428571428571429;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

body {
    font-family: 'Lato', Trebuchet MS;
}

a {
    color: #5788d7;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}

a:focus,
a:hover {
    color: #729cdf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.4;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

// only desktop
@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0);
        //   border-radius: 100px;
    }

    ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }

    ::-webkit-scrollbar-thumb:vertical {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
        background-clip: padding-box;
        border: 2px solid rgba(0, 0, 0, 0);
        min-height: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
    }

    ::-webkit-scrollbar-thumb:vertical:active {
        background: rgba(0, 0, 0, 0.61);
        border-radius: 100px;
    }
}

::-moz-selection {
    background: $primary-color;
    /* WebKit/Blink Browsers */
    color: #fff;
}

::selection {
    background: $primary-color;
    /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: $primary-color;
    /* Gecko Browsers */
    color: #fff;
}

.fa-stack {
    cursor: pointer;
    color: #777;
    display: inline-flex;
    align-items: stretch;
}

.fa-stack:hover {
    cursor: pointer;
    color: #333;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-column-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex1 {
    flex: 1;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-center-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-display {
    display: flex !important;
}

.padding-top-3 {
    padding-top: 3em;
}

.padding-bottom-10 {
    padding-bottom: 10em;
}

.padding-bottom-3 {
    padding-bottom: 3em;
}

.margin-top-30-percent {
    margin-top: 30%;
}

.margin-left-half {
    margin-left: 0.5em;
}

.margin-sides-1 {
    margin-left: 1em;
    margin-right: 1em;
}

.margin-left-0 {
    margin-left: 0em !important;
}

.margin-left-1 {
    margin-left: 1em;
}

.margin-left-2 {
    margin-left: 2em;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.padding-sides-1 {
    padding-right: 1em;
    padding-left: 1em;
}

.margin-top-3 {
    margin-top: 3em !important;
}

.margin-top-5 {
    margin-top: 5em;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-half {
    margin-right: 0.5em !important;
}

.margin-right-1 {
    margin-right: 1em !important;
}

.margin-right-2 {
    margin-right: 2em !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.margin-top-bottom-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-top-bottom-3 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.margin-bottom-half {
    margin-bottom: 0.5em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-3 {
    margin-bottom: 3em;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.clear {
    clear: both;
}

.relative {
    position: relative;
}

.blue-text {
    color: $primary-color !important;
}

.red-text,
.red-text i {
    color: $red-color !important;
}

.fa-8x {
    font-size: 8em;
}

.page-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

textarea {
    resize: none;
}

.btn:focus,
.btn:hover {
    outline: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.v-content-box {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    padding: 1em;
}

.padding-top-bottom-3 {
    padding-top: 3em;
    padding-bottom: 3em;
}

.padding-top-bottom-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.padding-top-bottom-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.primary-background {
    background: $primary-color !important;
}

.red-background {
    background: $red-color !important;
}

.green-background {
    background: $green-color !important;
}

.go-primary {
    color: $primary-color !important;
}

.h-primary:hover {
    color: $primary-color !important;
}

.go-red {
    color: $red-color !important;
}

.h-red:hover {
    color: $red-color !important;
}

.go-black,
.go-black a {
    color: #333;
}

.go-green {
    color: $green-color !important;
}

.h-green:hover {
    color: $green-color !important;
}

.go-yellow {
    color: $yellow-color !important;
}

.h-yellow:hover {
    color: $yellow-color !important;
}

.h-black:hover {
    color: $black-color !important;
}

.go-purple {
    color: $purple-color !important;
}

.h-purple:hover {
    color: $purple-color !important;
}

.go-gray {
    color: #979797 !important;
}

.go-gray a {
    color: #979797 !important;
}

.go-gray a:hover {
    text-decoration: underline;
}

.text-muted {
    display: block;
    margin: 0.3em;
}

.v-icon {
    font-weight: 600;
    font-size: 20px;
}

input[type='file'] {
    background-color: inherit;
}

.v-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.icon-block-big:before {
    font-size: 150px;
    margin-top: 40px;
}

.inline-block {
    display: inline-block;
}

.weight-500 {
    font-weight: 500;
}

.pointer {
    cursor: pointer;
}

.zoom-in {
    cursor: zoom-in;
}

.font-small {
    font-size: 90%;
}

.enable-user-select {
    user-select: text;
}

.user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@mixin user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.go-small {
    font-size: 82%;
}

.margin-auto {
    margin: auto;
}

.block-before:before {
    display: block;
}

.v-bold {
    font-weight: bold;
}

.v-ultra-bold {
    font-weight: 600;
    font-size: 17px;
}

.v-bold-ultra {
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display-inline {
    display: inline;
}

.display-flex {
    display: flex;
}

.display-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

.background-white {
    background: #fff !important;
}

.width-100 {
    width: 100% !important;
}

.full-width {
    max-width: 100%;
    width: 100%;
}

.half-width {
    width: 50% !important;
}

.h-underline:hover {
    text-decoration: underline;
}

.text-or-button {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}

.dashed-hr {
    border-top: 2px dashed #ccc;
}

.thik-light-hr {
    border-top: 2px solid #e5e8ea;
}

.word-break {
    word-break: break-all;
}

.cursor-zoom {
    cursor: zoom-in;
}

.no-border {
    border: none !important;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

.padding-1 {
    padding: 1em;
}

.padding-desktop-1-mobile-half {
    padding: 1em;
}

// only mobile
@media (max-width: 768px) {
    .padding-desktop-1-mobile-half {
        padding: 0.5em;
    }
}

.padding-half-1 {
    padding: 0.5em 1em;
}

.overflow-auto {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.overflow-hidden {
    overflow-y: hidden;
}

.rotate {
    animation: rotating 1s linear infinite;
}

.break-words {
    word-break: break-all;
}

.darker-on-hover {
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

@mixin darker-on-hover() {
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.lighter-on-hover {
    opacity: 1;

    &:hover {
        opacity: 0.7;
    }
}

@mixin lighter-on-hover() {
    opacity: 1;

    &:hover {
        opacity: 0.7;
    }
}
