.head-notification-icons i {
    color: #75797b;
    font-size: 20px;
    cursor: pointer;
}

.head-notification-icons button:hover,
.head-notification-icons a:hover,
#more-button:hover {
    i {
        color: #333;
    }
}

.header-voten {
    width: 100%;
    height: 52px;
    background: #fff;
    border-bottom: 2px solid #d8e2e7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}

.header-left {
    margin-left: 1em;
}

.logo-voten {
    position: absolute;
    left: 48%;
    top: 9px;
    font-size: 27px;
    color: #333;
}

.logo-voten {
    height: 34px;
    text-decoration: none;
    color: #c23733;
}

.logo-voten img {
    height: 34px;

}

.logo-voten small {
    font-size: 8px;
    position: absolute;
    right: -19px;
    bottom: 3px;
}

.logo-voten a {
    text-decoration: none;
    color: #c23733;
}

.head-notification-icons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

button.v-menu-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    width: 2em;
    height: 2em;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
}

button.v-menu-button:before,
button.v-menu-button:after,
button.v-menu-button > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    padding: 0;
    margin: 0;
    background: #666;
}

button.v-menu-button:before,
button.v-menu-button:after {
    top: 50%;
    content: '';
    pointer-events: none;
    transition: transform 0.25s;
    transform-origin: 50% 50%;
}

button.v-menu-button:before {
    transform: translate3d(0, -10px, 0);
}

button.v-menu-button:after {
    transform: translate3d(0, 10px, 0);
}

button.v-menu-button > span {
    overflow: hidden;
    text-indent: 200%;
    color: rgba(0, 0, 0, 0);
    transition: opacity 0.25s;
}

button.v-menu-button--checked:before {
    transform: rotate3d(0, 0, 1, 45deg);
}

button.v-menu-button--checked:after {
    transform: rotate3d(0, 0, 1, -45deg);
}

button.v-menu-button--checked > span {
    opacity: 0;
}

@media (max-width: 769px) {
    .header-left,
    .header-right {
        display: none !important;
    }
}

// @media (min-width: 768px) {
//     .v-menu-button{
//         display: none !important;
//     }
// }
// notification header
.header-voten .dropdown-menu-notif .dropdown-menu-notif-item .photo {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -16px;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-item .photo img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 100%;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-item .dot {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: 0 0 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fa424a;
    position: relative;
    top: 2px;
}

.header-voten .dropdown.dropdown-notification .dropdown-menu-notif-more {
    border-top: solid 1px #d8e2e7;
    text-align: center;
    padding: 10px 15px;
    font-size: 1rem;
}

.header-voten .dropdown.dropdown-notification .dropdown-menu-notif-more a {
    text-decoration: none;
    border-bottom: solid 1px transparent;
}

.header-voten .dropdown-menu-notif {
    width: 290px;
    padding: 0;
    line-height: normal;
    font-size: 0.9375rem;
    top: 41px;
    right: -7px;
}

.header-voten .dropdown-menu-notif a {
    text-decoration: none;
    border-bottom: solid 1px transparent;
    color: #576a8c;
    font-style: italic;
    font-weight: 600;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-header {
    padding: 12px 15px;
    border-bottom: solid 1px #d8e2e7;
    font-weight: 600;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-header .label {
    font-size: 0.875rem;
    font-weight: 400;
    padding-left: .5em;
    padding-right: .5em;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-list {
    height: 192px;
    overflow: auto;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-item {
    padding: 8px 15px 8px 57px;
    position: relative;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-item:nth-child(even) {
    background: #fbfcfd;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-item .photo {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -16px;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-item .photo img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 100%;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-item .dot {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: 0 0 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fa424a;
    position: relative;
    top: 2px;
}

.header-border {
    border-bottom: 1px solid #d8e2e7;
}

.header-avatar {
    display: block;
    height: 35px;
    width: 35px;
    margin: -1px 3px -1px 0;
    border-radius: 50%;
    border: solid 2px transparent;
    border-color: rgba(79, 79, 79, 0.43);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

//header .ui.dropdown {
//    margin-left: 11px;
//}

header .ui.top.right.pointing.dropdown > .menu {
    top: 2.1em;
    bottom: auto;
    right: 0%;
    left: auto;
    margin: 1em 0em 0em;
    min-width: 200px;
    padding: 0px 1em 0.5em 1em;
}

.queue-number {
    background: $red-color;
    position: absolute;
    bottom: -4px;
    right: 7px;
    padding: 2px 4px;
    color: #fff;
    border-radius: 2px;
    font-size: 80%;
}

.left-header {
	display: flex;
	align-items: center;
}