.v-box {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    margin: 0 0 20px;
    padding: 1em;
}

.user-card-row .tbl-cell.tbl-cell-photo {
    width: 42px;
    padding-right: 10px;
}

.user-card-row a {
    -webkit-transition: none;
    transition: none;
}

.tbl {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.tbl-cell {
    display: table-cell;
    vertical-align: middle;
}

.user-card-row .user-card-row-name {
    font-weight: 600;
    color: #343434;
    font-size: 90%;
}

.user-card-row .user-card-row-name a {
    color: #343434;
}

.friends-list.stripped {
    padding: 0;
}

.friends-list.stripped .friends-list-item:nth-child(odd) {
    background-color: #fbfcfd;
}

.friends-list.stripped .friends-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-card-row {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8125rem;
}

.user-card-row .tbl-cell.tbl-cell-action {
    width: 20px;
    white-space: nowrap;
    padding-left: 10px;
    vertical-align: middle;
}

// notifications
.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.open > .dropdown-menu {
    display: block;
}

.header-voten .dropdown-menu-notif .dropdown-menu-notif-header {
    padding: 12px 15px;
    border-bottom: solid 1px #d8e2e7;
    font-weight: 600;
}

* {
    outline: none !important;
}

.label-danger {
    background-color: #fa424a;
}

.label {
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #adb7be;
}

.label-danger {
    background-color: #db6f6f;
}

.label-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.label {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.box-typical .box-typical-footer {
    padding: 4px 15px 4px 0;
}

.box-typical-footer .label {
    margin-top: 7px;
    background: #f2f3f5;
    border: 1px solid #dee2e6;
    color: #808080;
}

.avatar-preview {
    display: inline-block;
    border: none;
    background: none;
    position: relative;
    margin: 0 auto 20px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.avatar-preview img {
    display: block;
}

.avatar-preview .update {
    display: block;
    position: absolute;
    top: 2px;
    width: 138px;
    height: 138px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    font-weight: 600;
}

.avatar-preview button {
    background: none;
    border: none;
    color: #fff;
}

.avatar-preview .update i {
    display: block;
    font-size: 35px;
    margin-bottom: 0.3em;
}

.avatar-preview input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 100rem;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    width: 100%;
    border-radius: 50%;
}

.user-profile .update {
    border-radius: 50%;
}

.profile-post .profile-post-header .shared {
    position: absolute;
    right: 30px;
    top: 43%;
    margin-top: -10px;
    text-decoration: none;
    color: #919fa9;
    border: none;
    font-size: 24px;
}

.page-content {
    padding: 32px 15px 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/////////////////////////////////////////////
// Gray
/////////////////////////////////////////////
.theme-gray {
    .side-menu-wrapper.shade-item,
    .fixed-header.shade-item,
    .menu.shade-item {
        background: inherit;
    }

    background: #f4f5f7;
    border-left: 2px solid #e7e7e7;

    .search input {
        background-color: hsla(0, 0%, 87%, 0.6) !important;
    }

    // .fixed-header {
    //     border-bottom: 2px solid #e7e7e7;
    //     box-shadow: 0 2px 0 hsla(200,9%,93%,.25);
    // }

    .menu-list a:focus {
        color: inherit;
    }

    .menu-list a:hover,
    .menu-list .active {
        background-color: #92989f;
    }

    .sidebar-panel-button i:hover {
        color: #000;
    }

    .side-menu-wrapper {
        .box {
            border-bottom: 2px solid #e7e7e7;
            box-shadow: 0 2px 0 rgba(236, 238, 239, 0.25);

            img {
                border: 1px solid #9f9f9f;
            }

            &:hover {
                background: darken(#f4f5f7, 3%);
            }
        }

        .menu {
            box-shadow: rgba(236, 238, 239, 0.25) 0px 2px 0px;
            border-bottom: 2px solid rgb(231, 231, 231);
        }
    }
}

/////////////////////////////////////////////
// Dark Blue
/////////////////////////////////////////////
.theme-dark-blue {
    background: linear-gradient(#323e4c, #25313e);
    border-left: 2px solid #3f4c5c;

    .search {
        input {
            background-color: rgb(65, 72, 81) !important;
        }

        input,
        i {
            color: #fff !important;
        }
    }

    // .fixed-header {
    //     border-bottom: 2px solid rgb(44, 49, 55) !important;
    // }

    .menu-label,
    .v-config,
    .no-subscription,
    .menu-list a {
        color: #fff !important;
    }

    .menu-list a:hover,
    .menu-list .active {
        background-color: #7197c3;
        color: #fff !important;
    }

    .sidebar-panel-button i:hover {
        color: #000;
    }

    .side-menu-wrapper {
        .box {
            border-bottom: 2px solid rgb(44, 49, 55);
            color: #fff;

            img {
                border: 1px solid #9f9f9f;
            }

            &:hover {
                background: darken(#323e4c, 3%);
            }
        }

        .menu {
            border-bottom: 2px solid rgb(44, 49, 55);
        }
    }
}

/////////////////////////////////////////////
// Blue
/////////////////////////////////////////////
.theme-blue {
    background: linear-gradient(#343d5a, #49516b);
    border-left: 2px solid #3f4c5c;

    .search {
        input {
            background-color: #2a3441 !important;
        }

        input,
        i {
            color: #fff !important;
        }
    }

    // .fixed-header {
    //     border-bottom: 2px solid rgb(44, 49, 55) !important;
    // }

    .menu-label,
    .v-config,
    .no-subscription,
    .menu-list a {
        color: #fff !important;
    }

    .menu-list a:hover,
    .menu-list .active {
        background-color: #3ba093;
        color: #fff !important;
    }

    .sidebar-panel-button i:hover {
        color: #000;
    }

    .side-menu-wrapper {
        .box {
            border-bottom: 2px solid rgb(44, 49, 55);
            color: #fff;

            img {
                border: 1px solid #9f9f9f;
            }

            &:hover {
                background: darken(#343d5a, 3%);
            }
        }

        .menu {
            border-bottom: 2px solid rgb(44, 49, 55);
        }
    }
}

/////////////////////////////////////////////
// Red
/////////////////////////////////////////////
.theme-red {
    background: linear-gradient(#673e3d, #523636);
    border-left: 2px solid #684a49;

    .search {
        input {
            background-color: #382e2e !important;
        }

        input,
        i {
            color: #fff !important;
        }
    }

    // .fixed-header {
    //     border-bottom: 2px solid #4a3534 !important;
    // }

    .menu-label,
    .v-config,
    .no-subscription,
    .menu-list a {
        color: #fff !important;
    }

    .menu-list a:hover,
    .menu-list .active {
        background-color: #5b7368;
        color: #fff !important;
    }

    .sidebar-panel-button i:hover {
        color: #000;
    }

    .side-menu-wrapper {
        .box {
            border-bottom: 2px solid #4a3534;
            color: #fff;

            img {
                border: 1px solid #9f9f9f;
            }

            &:hover {
                background: darken(#673e3d, 4%);
            }
        }

        .menu {
            border-bottom: 2px solid #4a3534;
        }
    }
}

/////////////////////////////////////////////
// Dark
/////////////////////////////////////////////
.theme-dark {
    background: linear-gradient(#3e3e3e, #3c3c3c);
    border-left: 2px solid #646060;

    .search {
        input {
            background-color: #5d5d5d !important;
        }

        input,
        i {
            color: #fff !important;
        }
    }

    // .fixed-header {
    //     border-bottom: 2px solid #303030 !important;
    // }

    .menu-label,
    .v-config,
    .no-subscription,
    .menu-list a {
        color: #fff !important;
    }

    .menu-list a:hover,
    .menu-list .active {
        background-color: #d14848;
        color: #fff !important;
    }

    .sidebar-panel-button i:hover {
        color: #000;
    }

    .side-menu-wrapper {
        .box {
            border-bottom: 2px solid #303030;
            color: #fff;

            img {
                border: 1px solid #9f9f9f;
            }

            &:hover {
                background: darken(#3e3e3e, 4%);
            }
        }

        .menu {
            border-bottom: 2px solid #303030;
        }
    }
}

/////////////////////////////////////////////
// green
/////////////////////////////////////////////
.theme-green {
    background: linear-gradient(#455d58, #37524d);
    border-left: 2px solid #567970;

    .search {
        input {
            background-color: #294749 !important;
        }

        input,
        i {
            color: #fff !important;
        }
    }

    // .fixed-header {
    //     border-bottom: 2px solid #354440 !important;
    // }

    .menu-label,
    .v-config,
    .no-subscription,
    .menu-list a {
        color: #fff !important;
    }

    .menu-list a:hover,
    .menu-list .active {
        background-color: #edb431;
        color: #333 !important;
    }

    .sidebar-panel-button i:hover {
        color: #000;
    }

    .side-menu-wrapper {
        .box {
            border-bottom: 2px solid #354440;
            color: #fff;

            img {
                border: 1px solid #9f9f9f;
            }

            &:hover {
                background: darken(#455d58, 4%);
            }
        }

        .menu {
            border-bottom: 2px solid #354440;
        }
    }
}

/////////////////////////////////////////////
// Purple
/////////////////////////////////////////////
.theme-purple {
    background: linear-gradient(#4d4261, #4d4463);
    border-left: 2px solid #736887;

    .search {
        input {
            background-color: #755aa5 !important;
        }

        input,
        i {
            color: #fff !important;
        }
    }

    // .fixed-header {
    //     border-bottom: 2px solid #43404a !important;
    // }

    .menu-label,
    .v-config,
    .no-subscription,
    .menu-list a {
        color: #fff !important;
    }

    .menu-list a:hover,
    .menu-list .active {
        background-color: #3c816a;
        color: #fff !important;
    }

    .sidebar-panel-button i:hover {
        color: #000;
    }

    .side-menu-wrapper {
        .box {
            border-bottom: 2px solid #43404a;
            color: #fff;

            img {
                border: 1px solid #9f9f9f;
            }

            &:hover {
                background: darken(#4d4261, 4%);
            }
        }

        .menu {
            border-bottom: 2px solid #43404a;
        }
    }
}
