$primary-color: #5587d7; // blue
$red-color: #db6e6e;
$green-color: #78b38a;
$purple-color: #ac7bcd;
$yellow-color: #edb431;
$gray-color: #979797;
$black-color: #000;

$--color-primary: $primary-color;
$--color-success: $green-color;
$--color-warning: $yellow-color;
$--color-danger: $red-color;
$--color-info: $gray-color;
